#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

#friends-display-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#friends-display-link span {
  margin: 0 7px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__bar {
  margin: 15px 27px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-color);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.friends-screen__bar-header button {
  color: var(--gray-color);
}

#splash-screen {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  font-size: 80px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 3s;
}
